@import url(./layout/layout.css);
@import url(./layout/header.css);
@import url(./layout/footer.css);

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.title {
  font-size: 1.75rem;
}

.bold {
  font-weight: 700;
  font-style: bold;
}

a:link,
a:hover,
a:visited {
  color: #ffffff;
  text-decoration: none;
}
