header {
  top: 0;
  position: sticky;
}

.header-container {
  height: 100px;
  max-width: 1204px;
  margin: auto;
  background: #ffffff;
}

.header-container-content {
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 80px;
  width: 80px;
}

#openhour {
  display: none;
}

nav,
#menu-checkbox,
#menu-checkbox-close {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

ul {
  user-select: none;
}

a {
  user-select: all;
}

.bars-container {
  background: #ffffff;
  height: 44px;
  width: 44px;
  display: grid;
  place-items: center;
}

.bars-icon {
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
}

.nav-menu-content {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
  margin: 20px;
}

#menu-title {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: bold;
}

.exit-container {
  height: 35px;
  width: 35px;
}

.exit-icon {
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

nav {
  position: absolute;
  background: #ffffff;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}

nav a {
  display: block;
  margin: 20px;
}

nav ul a,
nav ul a:link,
nav ul a:hover,
nav ul a:visited {
  color: #000000;
  font-weight: 700;
  font-style: bold;
}

nav hr {
  border: none;
  height: 2px;
  background-color: #000000;
  margin-left: 10px;
  margin-right: 10px;
}

header hr {
  border: none;
  height: 2px;
  background-color: #000000;
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width: 600px) {
  .bars-container,
  .nav-menu,
  nav ul hr {
    display: none;
  }

  header {
    position: static;
  }

  .header-container {
    height: 150px;
  }

  .header-container-content {
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #logo {
    height: 110px;
    width: 110px;
  }

  #openhour {
    display: flex;
    color: #000000;
  }

  .nav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  nav {
    display: flex;
    align-self: flex-end;
    position: static;
    background: none;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    display: block;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }

  nav ul a,
  nav ul a:link,
  nav ul a:hover,
  nav ul a:visited {
    color: #000000;
    font-weight: 400;
    font-style: normal;
  }

  nav ul a:hover {
    text-decoration: underline;
  }

  #nav-left {
    margin-left: 0px;
  }

  #nav-right {
    margin-right: 0px;
  }
}
