.main-container {
  margin: 30px;
}

.main-container-content {
  max-width: 1144px;
  margin: auto;
}

#section-title {
  margin-bottom: 30px;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.visit-container-one,
.visit-container-two,
.visit-container-three {
  flex: 1 360px;
  min-height: 590px;
  width: 100%;
  background: #bce0c3;
}

.visit-container-content {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.visit-container-content p {
  padding-bottom: 20px;
}

.visit-container-image {
  height: 590px;
}

.visit-container-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-container-kids,
.info-container-teachers,
.info-container-researchers,
.info-container-club,
.info-container-break {
  flex: 1 360px;
  width: 100%;
  min-height: 390px;
  background: #bce0c3;
  padding: 20px;
}

.info-container-club,
.info-container-break {
  background: #ededed;
}

.info-container-content {
  height: 100%;
  width: 100%;
}

.info-container-content p {
  padding-bottom: 20px;
}

/* media queries start */
@media (min-width: 500px) {
  .info-container-kids,
  .info-container-teachers,
  .info-container-researchers,
  .info-container-club,
  .info-container-break {
    min-height: auto;
    height: 300px;
  }
}

@media (min-width: 810px) {
  .info-container-kids,
  .info-container-teachers,
  .info-container-researchers,
  .info-container-club,
  .info-container-break {
    min-height: auto;
    height: 390px;
  }
}
/* media queries end */
